{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": true,
        "development": true
      }
    },
    "target": "es2020",
    "loose": true,
    "externalHelpers": true,
    "keepClassNames": true
  },
  "minify": true,
  "module": {
    "type": "es6"
  }
}
